.container {
  .scoreHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1rem 0;

    button {
      padding: 0.4rem 0.6rem;
      border-radius: 0.3rem;
      font-size: 1rem;
      border: 1px solid gray;
      background-color: #fff;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: #faf8f8;
      }
    }
  }
  .table {
    border-collapse: collapse;
    width: 100%;
    font-size: 1.1rem;
    margin: 1rem 0;

    td,
    th {
      border-bottom: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    .result {
      font-weight: 600;
    }
  }
}
