.container {
  .table {
    border-collapse: collapse;
    width: 100%;
    font-size: 1.1rem;
    margin: 1rem 0;

    td,
    th {
      border-bottom: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
  }
}
