.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 5rem;

  @media only screen and (max-width: 768px) {
    flex-direction: column;
  }

  .card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid rgb(205, 205, 223);
    border-radius: 15px;
    padding: 2.5rem 4rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);

    @media only screen and (max-width: 1000px) {
      padding: 1.5rem 3rem;
    }

    h2 {
      text-transform: uppercase;
    }
  }

  .result {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #25b09b;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}
.card {
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.card::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: transparent;
  transition: height 0.3s ease-out;
  z-index: -1;
}

.cardWin::after {
  background-color: #05d590;
  height: 100%;
}

.cardLose::after {
  background-color: #f14040;
  height: 100%;
}

.cardTie::after {
  background-color: #7bb2f7;
  height: 100%;
}
