@import "../scss/breakpoints";

.wrapper {
  display: flex;
  height: 100vh;

  @include xl {
    flex-direction: column;
  }
}

.container {
  width: 70%;
  background: linear-gradient(to right, #f8f9fa, #e9ecef);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;

  @include xl {
    width: 100%;
  }

  p {
    font-size: 1.2rem;
    margin: 1.5rem 0;
  }

  .startBtn {
    padding: 0.7rem 1.5rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;

    &:hover {
      background-color: #0056b3;
    }

    &:disabled {
      background-color: #c4c4c4;
      cursor: initial;
    }
  }

  .result {
    margin-top: 3rem;
    padding: 2rem;
    background: #fff;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;

    h2 {
      margin-top: 1rem;
      color: #28a745;
    }
  }

  .choicesWrapper {
    margin-top: 5rem;

    p {
      font-size: 1.4rem;
    }

    .choices {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;
      padding: 0;

      @include sm {
        flex-direction: column;
        align-items: center;
      }
    }
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 26%;
  margin: 1rem auto;
  padding: 2rem;

  @include xl {
    width: 80%;
  }
}
